body {

    background: linear-gradient(black 40%, #2d1643);
}


/* -- Background div -- */
#background {
    position: relative;
    padding:0;
    margin:0;
    float: left;
}

@keyframes example {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}